<div id="content">

    <!-- slider -->
    <div class="flexslider home-slider">
        <ul class="slides">
            <li>
                <video height="472" width="852" id="ourvideo" controls>
                    <source src="/videos/vid.mp4">
                </video>
            </li>
        </ul>
    </div>
    <div class="shadow-slider"></div>
    <!-- ENDS slider -->


    <h1 class="home-block-heading">What is it ?</h1>
    <div class="featured">
        <div class="article">
        In this game, you play a ship that is supposed to save abandoned solar systems.<br/>
        Bring back energy to dead stars, and gather up ingredients to put life back on dead planets.
        <br/>
        </div>
    </div>

    <!-- featured -->
    <h1 class="home-block-heading">In a nutshell</h1>

    <div class="featured">
        <figure>
            <div>
                <a href="single.html" class="heading">Full HTML5</a>
                The game is entirely written in JavaScript and uses canvas technology.
            </div>
            {#<a class="link" href="single.html"></a>#}
        </figure>

        <figure>
            <div>
                <a href="single.html" class="heading">Original concept</a>
                Bring back life on planets by putting all the right ingredients.
                Evolve in space and harvest energy, water, aminate acids or earth.
            </div>
            {#<a class="link" href="single.html"></a>#}
        </figure>
        <div class="clearfix"></div>
    </div>
    <!-- ENDS featured -->
    <h1 class="home-block-heading">Features</h1>

    <div class="featured">
        <figure>
            <div>
                <a href="single.html" class="heading">Mouse driven ship</a>
                The game is entirely written in JavaScript and uses canvas technology.
            </div>
            {#<a class="link" href="single.html"></a>#}
        </figure>

        <figure>

            <div>
                <a href="single.html" class="heading">Mobile camera</a>
                Evolve in space and harvest energy, water, aminate acids or earth.
            </div>
            {#<a class="link" href="single.html"></a>#}
        </figure>

        <figure>

            <div>
                <a href="single.html" class="heading">Differents planet types</a>
                Bring back life on planets by putting all the right ingredients.
            </div>
            {#<a class="link" href="single.html"></a>#}
        </figure>

        <figure>

            <div>
                <a href="single.html" class="heading">Orbs gathering</a>
                Bring back life on planets by putting all the right ingredients.
            </div>
            {#<a class="link" href="single.html"></a>#}
        </figure>

        <figure>

            <div>
                <a href="single.html" class="heading">Sun lighting</a>
                Bring back life on planets by putting all the right ingredients.
            </div>
            {#<a class="link" href="single.html"></a>#}
        </figure>

        <figure>

            <div>
                <a href="single.html" class="heading">Life creation</a>
                Bring back life on planets by putting all the right ingredients.
            </div>
            {#<a class="link" href="single.html"></a>#}
        </figure>

        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>
    <!-- ENDS home-gallery -->


</div>
<!-- ENDS content -->

<div class="clearfix"></div>
<div class="shadow-main"></div>

<script type="text/javascript">

</script>